/* Provide sufficient contrast against white background */
* {
  box-sizing: border-box;
}

body {
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}