body {
  margin: 0;
  font-family: 'Open Sans Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Open Sans Condensed', sans-serif;
  src: local('Open Sans Condensed'), url(./assets/fonts/OpenSansCondensed-Light.ttf) format('ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}